<div class="callout callout-{{ type|default('danger') }}">
    {% if title is defined %}<h4>{{ title}}</h4>{% endif %}
    {% for callout in callouts %}
        <p>{{ callout }}</p>
    {% endfor %}
</div>