<div class="callout callout-{{ type|default('danger') }}">
    {% if title is defined %}<h4>{{ title}}</h4>{% endif %}
    {% for callout in callouts %}
        <p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire soul,
            like these sweet mornings of spring which I enjoy with my whole heart.</p>
    {% endfor %}
</div>