//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #cecdcd;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Roboto Slab", Georgia, "Times New Roman", Times, serif;

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-serif;
$headings-font-weight:    700;
$headings-line-height:    1.1;
$headings-color:          #fff;


//== Navbar
//
//##

// Basics of a navbar

$navbar-default-color:             #ccc;
$navbar-default-bg:                rgba(0, 0, 0, 0.9);
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                #cecdcd;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            $navbar-default-bg;
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #cecdcd;
$navbar-default-toggle-icon-bar-bg:        #888;
$navbar-default-toggle-border-color:       #cecdcd;
