{% extends 'admin.html.twig' %}

{% block content %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Accès</h3>
        </div>
        <!-- /.box-header -->
        {{ form_start(form) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <!-- /.box-body -->
        <div class="box-footer with-border">
            <button type="submit" class="btn btn-primary pull-right">{{ 'Modifier'|trans }}</button>
        </div>
        {% do form.submit.setRendered() %}
        <!-- /.box-footer -->
        {{ form_end(form) }}
    </div>
{% endblock content %}
