{% extends ':Adminlte/layout:login-page.html.twig' %}

{% block content %}
    <p class="login-box-msg">Pour votre première connexion, merci de modifier votre mot de passe</p>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" name="login" value="{{ "Modifier"|trans }}"/>
        </div>
    {{ form_end(form) }}
{% endblock %}
